<div class="container py-4">

<footer class="p-3 m-4 text-muted border-top">
    <span>2023 - Safex Big Box Store - V1.0.1 - Rocket</span>
    <span class="ms-2"> |  <a href="https://github.com/safexninja/safex-big-box-store-wallet-lite" target="_blank">github</a></span>
    <span class="ms-2"> |  Powered by <img src="/styles/images/safex.png" style="width: 100px;vertical-align: baseline;margin-bottom: -2px;" class="ms-2"></span>    
    
    </footer>
</div>
