<div id="page_logs" class="d-none">


<div class="container py-1 px-0 float-md-start">
    <button type="button" class="btn btn-primary my-3" id="button_load_logs">Load<i class='bx bx-refresh ms-2'></i></button><br>
    This page will list system logs for important info, warning, error and fatal logs.
</div>

 
<div class="container py-1 px-0 float-md-start" id="container_logs">
</div>


</div>

