<div id="page_market" class="d-none">


<div class="container py-1 px-0 float-md-start" id="container_market_search">
    <form id="form_market_search" novalidate autocomplete="off">
        <fieldset id="form_market_search_fields">

        <div class="my-1">

            <div class="row align-items-end">
        
                <div class="col-md-4 col-sm-12">
                    <label for="input_search" class="form-label">Search</label>
                    <input type="text" class="form-control form-control-md" placeholder="Search for title, description, offer-id or seller ..." id="input_search">
                </div>

                <div class="col">
                    <label for="select_country" class="form-label">Country <i data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Set your country as a default country in 'Settings'" style="color:#424dce;vertical-align: middle;margin-bottom: 2px;" class="bx bxs-info-circle ms-2"></i></label>
                        <select class="form-select" aria-label="Select country" id="select_country">
                        </select>
                </div>

                <div class="col">
                    <label for="input_minPrice" class="form-label">Price</label>
                    <input type="text" class="form-control form-control-md" placeholder="Min SFX" id="input_minPrice">
                </div>
                  <div class="col">
                    <input type="text" class="form-control form-control-md" placeholder="Max SFX." id="input_maxPrice">
                </div>

                 <div class="col">
                    <label for="input_minQy" class="form-label">Quantity</label>
                    <input type="text" class="form-control form-control-md" placeholder="Min Qy" id="input_minQy" value="1">
                </div>

                  <div class="col">
                    <label for="select_order" class="form-label">Order</label>
                        <select class="form-select" aria-label="Select order" id="select_order">
                            <option value="NEWEST">Newest</option>
                            <option value="PRICE_ASC">Price ascending</option>
                            <option value="PRICE_DESC">Price descending</option>
                        </select>
                </div>

                 <div class="col">
                    <button type="submit" class="btn btn-primary float-md-start" id="btn_search">Search</button>
                </div>
            
                   <div class="col-md">
                <!-- empty column for spacing right -->
                </div>
            
            </div>

        </div>
        
        </fieldset>

    </form>
</div>



{{!-- 
<div class="container py-1 px-0 float-md-start" id="container_market_results">

</div> --}}

<div class="container pt-4 px-0 float-md-start mb-4" >
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-4" id="container_market_results">    
    </div>
</div>



</div>

