<!-- Set Store Form Area -->
<div class="container py-1 px-0 float-md-start" id="container_store">
    <form id="form_set_store" novalidate autocomplete="off">

        <div class="my-1">

            <div class="row align-items-start">
        
                <div class="col-md-6 col-sm d-flex nowrap">
                    <div style="display: grid; width: 25px;">
                        <i class='bx bxs-info-circle' style='color:#424dce; margin-top: 10px;'  data-bs-toggle="tooltip" data-bs-placement="right"
                                                        data-bs-custom-class="custom-tooltip"
                                                        data-bs-title="Please enter a valid Store Front (api) URL"></i>
                                                    
                    </div>
                    <div style="width: 100%;">
                        <div class="autocomplete" style="width:100%;">
                             <input type="text" class="form-control form-control-md" placeholder="Enter Store Front url ..." id="input_store_url">
                        </div>
                    <div class="invalid-feedback" feedback-for="input_store_url"></div>
                    </div>

                </div>

                 <div class="col-md-2 col-sm">
                    <button type="submit" class="btn btn-primary float-md-start" id="btn_set_store">Connect</button>
                    <button type="button" class="btn btn-primary float-md-start" id="btn_leave_store">Leave</button>
                </div>
            
                   <div class="col-md">
                <!-- empty column for spacing right -->
                </div>
            
            </div>

        </div>


    </form>
</div>

