<div id="page_wallets" class="d-none">


<div class="container py-1 px-0 float-md-start" id="container_wallets">


</div>

<div class="container py-1 px-0 float-md-start" id="container_wallets_create">
<hr class="mt-3 mb-5">
    <h3>Create a new Wallet</h3>

    <div class="row">
        <div class="col mb-3">

            <div class="banner p-5 mb-4 bg-light rounded-3 h-100">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">New</h1>
                <p class="col-md-8 fs-4">Create a brand new wallet!
                    <br>
                    <button type="button" class="btn btn-primary mt-3" id="button_create_wallet">Create New Wallet<i class='bx bxs-plus-circle ms-2'></i></button><br>
                </p>
            </div>
        </div>

        </div>
        <div class="col mb-3">

            <div class="banner p-5 mb-4 bg-light rounded-3 h-100">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Restore!</h1>
                <p class="col-md-8 fs-4">Restore an existing wallet ...<br>
                <button type="button" class="btn btn-primary mt-3" id="button_create_wallet_from_keys">Create From Keys<i class='bx bxs-plus-circle ms-2'></i></button><br></p>
            </div>
        </div>

        </div>

    </div>


    
    
</div>

</div>

